html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
body{
	color:#3d5a80;
	font: 1em "Inter";
	background-color: ghostwhite;
	
}
a {
	all:unset;

  }
header{
	box-sizing: border-box;
	display: flex;
	padding-top:3%;
	padding-bottom: 4%;
	width:100%;
	font:1em "Inter";
	align-items: center;
	background-color:#98c1d9;
	color:ghostwhite;
	font-weight: 600;
	
	
	
}
header:first-child{
	padding-left:3%
}
header .menu{
	display: flex;
	width:100%;
	justify-content: flex-end;
	
	
}
header h3{
	font-weight: 200;
}
.icon{
	font-size: 1.2em;
	padding: 1%;
	border-radius: 10px;
	margin-right:1%

}
.icon:hover{
	background-color: ghostwhite;
	color:#006379;
	
}
.create .icon:first-child{
	color:#3d5a80;
}
.profile .icon:nth-child(2){
	color:#3d5a80;
}
.search{
	font-size: .9em;
	display: flex;
	margin-left: 2%;
	
}
.search h3{
	background-color: #ee6c4d;
	padding:2%;
	margin-left:2%;
	border-radius: 10px;
	color:ghostwhite;
	width:10%;
	text-align: center;
	font-size: 1.2em;
}
.search h3:hover{
	background-color: #f7a072;
}

input{
	display:flex;
	font: 1.2em "Inter";
	border-radius: 10px;
	width:45%;
	border:solid #ee6c4d;
	background-color: ghostwhite;
	opacity:0.75;
	
	

	
}

.top{
	background-color: #98c1d9;
	padding-bottom: 4%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.landing{
	padding-left: 3%;
	border-radius: 20px;
	
	
}
.landing h2{
	font: 4em "Inter";


}
.landing h3{
	font: 4em "Inter";
	font-weight: 4;
	
}
main{
	background-color: ghostwhite;
	
	
}

h1{
	font: 1.6em "Inter";
	margin: 3%;
	margin-bottom:1%;
	font-weight:500;
}
h3{
	font: 1em "Inter";
	

}
.logo{
	display:flex;
	align-items: center;
	font: 2.5em "Inter";
	margin-left:3%;
	transition: scale 400ms;
	
	
	
}
.logo:hover{
	scale:105%;
}
.row {
    border-radius: 14px;
	gap: 20px;
	margin:3%;
	margin-top: 0;
	overflow-x: scroll;
	display: flex;
	padding:2%;
	
	

	
}
.row .container img{
	border-radius: 20px;
	scroll-snap-align: center;
	transition: scale 400ms;
	
	
}
.row .container:hover img{
	scale:105%;
	border-radius:20px;

}


.profile{
	background-color: ghostwhite;
}
.profile h1{
    font:2em "Inter";
    color: #ee6c4d;
	margin-left:0;
	
}

aside .circle{
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    min-width: 100px;
    margin:22%;
	margin-bottom: 5%;
	
}
aside{
    display: flex;
    float:left;
    flex-direction: column;
    width:18%;
    font:1em "Inter";
	justify-content: space-between;
	background-color: rgb(233, 233, 240);
	padding-bottom:80%;
    
}
aside p{
	text-align: center;;
	color:#3d5a80;
	margin-bottom:40%
}
aside h3{
	margin:7%;
	margin-bottom: 10%;
	color:#3d5a80;
	padding-left: 17%;
	
}
aside .menu:hover{
	background-color: #cae9ff;
	border-top-right-radius:20px;
	border-bottom-right-radius: 20px;
	

}


.profile .flex-container{
    display: flex;
    float:right;
    flex-wrap: wrap;
    max-width:76%;
	margin-right:4%;
}
.profile .flexbox{
    display:flex;
    font:1.5em "Inter";
	

}

.profile .intro{
    width:100%;
    padding:3%;
    border-radius: 20px;
    background-color: #cae9ff;
    color:#3d5a80;
	width:100%;
	
}

.profile .intro h3{
    font-size:.8em;
    margin-top: 2%;
    font-weight: 300;
    
}
.profile .flexbox:nth-child(3){
	display: flex;
	width:100%;
	height:100%;
	flex-direction: row;
	border-radius: 20px;
	margin-top:2%;
	margin-bottom:2%;
	justify-content: center;
	

	
}
.percent1, .percent2, .percent3, svg, circle {
	height:100%;
	width:100%;
	
	
	
}
.flexbox circle{
	fill: none;
	stroke:ghostwhite;
	stroke-width: 1em;
	stroke-dasharray: 440;
	stroke-linecap: round;
	transform: translate(40px, 25px);
	width:100%;
	
	
}
.percent1 circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 75) / -100);
    stroke: #ee6c4d;
    animation: percent 1.8s linear;
    animation-delay: 5s;
	
}
.percent3 circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 56) / -100);
    stroke: #ee6c4d;
    animation: percent 1.8s linear;
    animation-delay: 5s;
	
}

@keyframes percent {
    0% {
        stroke-dashoffset: 0;
       }
}
.time{
	display: flex;
    flex-direction: row;
    border-radius: 20px;
	justify-content: space-between;
	align-items: center;
	color:ghostwhite;
	font-size:.8em;
	font-weight: 300;


}

.time section{
    font-size: 1em;
	background-color: #3d5a80;
	border-radius: 20px;
	margin-left:0;
	padding: 3%;
	width:25%;
	height: 80%;
	text-align: center;
	padding-bottom: 5%;
	
	
	
}
.time section:nth-child(3){
	margin-right:0;
}
section h2{
	margin-bottom:10%;
}

.percent circle{
	
	fill: none;
	stroke:ghostwhite;
	stroke-width: 18;
	stroke-dasharray: 440;
	stroke-linecap: round;
	transform: translate(10%, 8%);
	
	
	
}
.percent2 circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / -100);
    stroke: #ee6c4d;
    animation: percent 1.8s linear;
    animation-delay: 5s;
	
	
}
.percent .number {
	display: flex;
    color: ghostwhite;
	
	
}
.percent h2 {
    font-size: 2em;
}

svg text{
	display: flex;
	font-weight: 400;
	font-size: 1.5em;
	fill:ghostwhite;
	stroke: none;
	margin:auto;
}

.profile .flexbox:nth-child(4){
	display: flex;
	width:40%;
	flex-direction: row;
	border-radius: 20px;
	margin-bottom: 3%;
	
}

.leaderboard {
	background-color: #98c1d9;
    width: 100%;
    padding:3%;
    border-radius: 20px;
	height:fit-content;
	color:ghostwhite;
	padding-bottom: 4%;
	

}
.leaderboard h3{
    text-align: center;
}
.profile table {
    width: 100%;
    padding:3%;
	border-collapse: collapse;
}

tr:hover {
    transform: scale(1.05);
	background-color: #87bad7;
	border-radius:20px;

}

td {
    font-size: 1em;
    padding: 3%;

}
.leaderboard .number{
	font-size: .8em;
}

.profile .number {
    width: 1em;
    text-align: left;
    align-items: center;

}

.profile .name {
    text-align: left;
    font-size: .8em;
    font-weight: 300;
    padding:5%;
    align-items: center;
	padding-left:9%;
}

.profile .points {
    display: flex;
    align-items: center;
    font-size:.8em;
    padding:8%;

}
.profile .flexbox:nth-child(5){
	display: flex;
	flex-direction: column;
	width:52%;
	border-radius: 20px;
	margin-left: 3%;
	justify-content: center;
	height: 100%;
	color: ghostwhite;

}
.challenge{
	font-size: 1em;
	background-color: #98c1d9;
	border-radius: 20px;
	margin-bottom: 3%;
	width:100%;
	text-align: center;
	transition: scale 400ms;
	padding:4%;

	
}
.challenge h3{
	font-weight: 200;
}
.challenge:hover{
	background-color: #ee6d4d;
	scale:102%;
}
.profile .flexbox:nth-child(6){
	padding-bottom:3%;
	color:#ee6c4d;
	font-size: 2em;
	width:100%;
	
}
.profile .flexbox:nth-child(7){
	display: flex;
	margin-bottom: 10%;
	width:100%;
	text-align: center;
	height:100%;
	
	
	
}
.recents{
	flex-wrap: wrap;
	width:20%;
	height: 100%;
	border-radius: 20px;
	padding:5%;
	background-color:#cae9ff;
	color:#3d5a80;
	justify-content: center;
	margin-right:3%;
}
.recents h3{
	font-weight: 200;
}
.recents img{
	margin-top:8%;
	border-radius: 20px;
	
}
.recents:hover{
	background-color:#98c1d9;
	scale:102%;
}

.create{
	box-sizing: border-box;
	background-color: ghostwhite;
}

.title{
	
	font-size:2em;
}
.createflex input:focus-within::placeholder{
	color:#3d5a80;
	font-weight: 500;
}
.set {
	display: flex;
	border-radius: 20px;
	
	
}
.create .set input{
	border:solid #3d5a80;
	border-radius: 20px;
	background-color: transparent;
	width:100%;
	padding-bottom: 7%;
	padding-top: 2%;
	padding-left: 3%;
	
	
}
.card.is-flipped .card-inner {
  transform: translateY(45px) rotateX(180deg);
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	margin-right: 75px;
}
.card {
  width: 600px;
  height: 300px;
  perspective: 1000px;
	margin-bottom: 30px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  margin: 10px;
}

.card-front {
  background-color: #cacaca;
  border-radius: 3px;
  border: solid #3d5a80;
  color: white;
  border-radius: 15px;
  text-align:center;
  padding: 10px;
  margin-right: 30px;
}

.card-back {
  background-color: #cacaca;
  border-radius: 3px;
  border: solid #3d5a80;
  color: white;
  transform: rotateX(180deg);
  border-radius: 15px;
  text-align:center;
  padding: 10px;
}

.card p {
  margin: 0;
  padding: 40px;
  text-align: center;
}

.button-container button {
	margin: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #3d5a80; 
	border: none;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transform: translate(-50%, -50%);
  }
  
  .button-container button::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 20px; 
	height: 20px; 
	border-bottom: 2px solid #a3a3a3; 
	border-right: 2px solid #a3a3a3; 
  }
  .button-container button.left::after {
	transform: translate(-50%, -50%) rotate(135deg);
  }
  .button-container button.right::after {
	transform: translate(-50%, -50%) rotate(-45deg);
  }
  .button-container button.left {
		display:inline-block;
		
  }
  .button-container button.right {
		display:inline-block;
  }
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  .remove-card{
	background-color: transparent;
	border:none;
	color:#3d5a80;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
  }
  .remove-card::after{
	content: "X";
  }
  .termbox input[type=submit] {
	color: #3d5a80;
	padding-bottom:0px;
	width:auto;
	cursor:pointer;
	font-weight: bold;
	font-size:32px;
  }
.description{
	width:100%;
	
}
.description input{
	border:solid #3d5a80;
	border-radius: 20px;
	background-color: transparent;
	padding-bottom:5%;
	padding-top:1%;
	width:97%;
	margin-top:1%;
	padding-left: 1%;

}
.createflex input:focus{
	outline:solid #98c1d9;
}

.set:first-child{
	width:100%;
	
}

.createflex{
	display: flex;
	margin-left:2%
	
}
.right select{
	border:solid #3d5a80;
	width:100%;
	border-radius: 20px;
	padding-bottom: 5%;
	padding-top: 5%;
	background-color: transparent;
	color:#a3a3a3;
	font-size:1em;
	text-align: center;
	
}
select:focus{
	outline:solid #98c1d9;
}
.right{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	margin-left:1%;
	margin-right:2%
	

}
.break{
	padding:1%
}
.termbox{
	background-color:rgb(233, 233, 240);
	display:flex;
	width:96%;
	margin:auto;
	border-radius:20px;
	border:solid 2px #3d5a80;
	margin-top:2%;
	margin-bottom:1%;

	
}
.termbox:focus-within{
	background-color: rgb(219, 219, 226);
	outline:solid 1px #98c1d9;
}
.termbox input{
	background-color: transparent;
	border:none;
	padding-bottom:10%;
	width:90%;
	
	
	
}
.termbox input:focus-within::placeholder{
	color:#3d5a80;
	font-weight: 500;
}
.termbox input:focus{
	outline:none;
}
.term{
	
	background-color: transparent;
	width:35%;
	padding-top: 2%;
	padding-left:2%;
	padding-bottom:5%;
	
}
.definition{
	background-color: transparent;
	width:65%;
	padding-top: 2%;
	padding-left:2%;
	padding-bottom:5%;
	border-left: 2px solid #bbb;
}
footer{
	background-color: #98c1d9;
	padding: 4%;
	padding-bottom:10%;
}
/* Profile */
@media (max-width: 801px) {
    
	.flexbox {
		flex-direction: column;
		padding-right: 15px;       
	}
		
	aside {
		width: 60%;   
		border-radius:20px;
		text-align: center;
		padding: -5px;
		margin-left: 25%;
		margin-top: 25px;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
	
	p {
		margin-top: 10px; 
		margin-right: 40px;
	}
	
	.menu {
		margin-top: 5px;
		justify-content: center;
		margin-right: 50px;
	}  
	
	.recents {
		width: 250px;
		padding: 2%;
		margin: 2%;
		text-align: center; 
	}  
		
	.leaderboard{
		width: 250px;
		padding: 10%;
		margin: 10%;
		text-align: center; 
	}
		
	.challenge{
		width: 250px;
		float:left;
		padding: 60px;
		margin: 10px;
		box-sizing: border-box;
		text-align: center; 
		margin-right: 50px;
	}
		
	.challenge .p, .h3{
		text-align: center;
		}
		
	h1, h2, h3, h4 {
		font-size: 12px;
	}
	
	intro{
		text-align: center;
		
	}
		
	.intro h2 {
		font-size: 18px;
	}
		
	.intro h3{
		font-size: 5px;
	}
	
	td {    
		margin: 25px;
	}
		
	.time {
		display: flex;
		flex-direction: column;
		width: 90%; 
	}
	
	.time section {
		padding: 90px;  
		margin-top: 15px;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	
	.percent1,.percent2,.percent3 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.percent1 svg,.percent2 svg,.percent3 svg {
		width: 180px; 
		height: 180px;
	}
	
	.percent1 text,.percent2 text,.percent3 text {
		font-size: 15px; 
	}
	   
	/*Create */
	@media (max-width: 803px) {
	  
	.title {
		margin-bottom: 20px;
	}
	
	.title h1{
		font-size: 40px;
	}      
			
	.set {
		display: flex;
		flex-direction: column;
	}
	
	input{
		width: 350px;
	}
	
	.input-group {
		margin-bottom: 15px;
		width:100%;
	}
	
	.input-group label {
		margin-bottom: 5px;
		
	}
		
	.input-group input {
		padding: 18px;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;
	   }
	  
	}
		
	/*Nav links */    
	@media (max-width: 768px) {
		
	header {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.menu {
		margin-top: 10px;
		padding-left: 15px;
	}
	
	.icon {
		padding: 10px 20px;
	}
	
	
	.logo h3{
		font-size: 25px;
		}
	}
		